form {
    background-color: white;
    @include bodyFont;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
}

input {
    width: 100%;
}

.formName,
.formEmail {
    width: 50%;
}

.formMessage,
.formSubmit {
    width: 100%;
}

.formSubmit > button {
    width: 100%;
}



