nav {
    @include navFont;

    .fa-bars {
        font-size: 4rem;
        visibility: hidden;

        @include navMQ {
            visibility: visible;
        }
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;

        @include navMQ {
            visibility: hidden;
        }


    }
    li {
        margin: 20px;
    }
    a {
        text-transform: uppercase;
        text-decoration: none;
        color: $black;
        &:hover {
            border-bottom: solid 2.5px $brightYellow;
            padding-bottom: 5px;
        }
    }
}

