@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/setup";
@import "./partials/navigation";

body {
    font-size: 62.5%;
    font-weight: 400;
}

h1,
li,
a,
ul,
h2, 
p,
button {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

header {
    background-image: url("./assets/header-home.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.blueCouch {
    width: 55%;
    position: relative;
    bottom: -100px;
}

h1 {
    @include h1Font;
    position: relative;
    left: 170px;
    top: 50px;
}

// styling discovering section

.discovering {
    background: $white;
    padding: 150px 0;
    .wrapper {
        display: flex;
        padding: 30px;
    }
}

.textContent {
    width: 80%;
    padding-right: 100px;
    h2 {
        @include h2Font;
    }
    p {
        @include bodyFont;
        margin: 10px 0;
    }
    button {
        @include buttonFont;
        @include buttonStyle;
        margin-top: 10px;
    }
}

.photoContent img {
    box-shadow: $brightYellow -20px 20px;

}

